body {
    font-family: 'Roboto';
    color: #242742;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    line-height: 1.5;

}

main {
    padding-block-end: 1em;

}

.form-wrapper {
    width: min(23.5rem, calc(100% - 2rem));
    margin-inline: auto;
    /*display: none;*/
}

.picture-container img {
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2.2572815533980584rem + 1.035598705501618vw, 3.5rem);
    color: #242742;
    line-height: 1.1;
}

ul {

    padding-left: 0;
}

li {
    list-style: none;
    padding-block-end: 1em;
    display: flex;
    align-items: start;
    gap: 15px;

}

button {
    color: white;
    background-color: #242742;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    border: none;
    padding: 1.3em 2em;
    border-radius: 7px;
}

label {
    color: #242742;
    font-weight: bold;
}

.mail {
    display: flex;
    justify-self: space-between;
    padding-block-end: 0.5em;
}

#email-error {
    margin-left: auto;
    color: #FF6155;
}

.failure {
    background-color: #FDC8C4;
    border: 1px solid #FF6155;
}

input {
    width: 93%;
    padding: 1em;
    margin-block-end: 1.5em;
    border-radius: 7px;
    border: 1px solid lightgray;
    display: block;
}


.hidden {
    display: none;
}

.success-state {
    width: min(23.5rem, calc(100% - 2rem));
    margin-inline: auto;
    padding-block-start: 5em;

}

.success-state p span {
    font-weight: bold;
}

button:hover {
    background-image: linear-gradient(#FF6A3A, #FF527B);
    cursor: pointer;
    box-shadow: 0px 0px 20px #FF6A3A;
    transition: ease-in-out 0.1s;
}

.main-success {
    max-width: 500px;
}

.success-btn-mobile {
    margin-block-start: 12em;
}

.desktop-hero-image {
    display: none;
}

@media screen and (min-width:1024px) {
    body {
        display: grid;
        place-items: center;
        min-height: 100vh;
        background: #36384D;
    }

    main {
        background: white;
        border-radius: 36px;
        padding: 1.5em;

    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .mobile-hero-image {
        display: none;
    }

    .desktop-hero-image {
        display: flex;
    }

    .picture-container {
        order: 1;
    }

    h1 {
        margin-block-end: 0;
    }

    .success-state {
        width: min(23.5rem, calc(100% - 2rem));
        margin-inline: auto;
        padding-block-start: 1em;

    }

    .success-state p {
        padding-block-end: 1em;
    }

    .success-btn-mobile {
        margin-block-start: 0;
    }


}